.table-container-wrapper {
  min-width: 500px;
  margin-top: 64px;
}

.table-container {
  padding: 10px;
  margin: 10px;
}

.table-body {
  padding: 10px;
  margin: 10px;
}

.full-width-table {
  width: 100%;
}
