<div>
  <div class="main-container fixed-top">
    <div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'padding-top': '65px'}">
      <h1 fxHide.lt-sm>Pose Drummer Demo</h1>
      <h2 fxHide fxShow.lt-sm>Pose Drummer Demo</h2>
    </div>

    <div class="card-list-wrapper " fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

      <h3>Customize Neural Network Options</h3>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

        <mat-form-field appearance="legacy">
          <mat-label>Inputs(default:34)</mat-label>
          <input matInput class="text-input" type="text" [(ngModel)]="nn_inputs" placeholder="inputs(default:34)">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Outputs(default:5)</mat-label>
          <input matInput class="text-input" type="text" [(ngModel)]="nn_outputs" placeholder="outputs(defaults:5)">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-raised-button color="warn" (click)="startTraining()">Start Training</button>
        <button mat-flat-button color="warn" (click)="startClassifyPose()">Classify Pose</button>
        <button mat-raised-button color="primary" (click)="downloadModel()">Download Model</button>
        <button mat-flat-button color="accent" (click)="SnapshotCanvas()">Snapshot Test</button>
        <button mat-flat-button color="accent" (click)="addPoseTrainDataComp()">New Pose</button>
        <button mat-flat-button color="accent" (click)="audioPlayTest()">Audio Test</button>
      </div>

      <div class="card-container-wrapper" fxFlex="100%" fxLayoutAlign="center center" fxFlexAlign="stretch">
        <div class="card-container mat-elevation-z3" fxLayoutAlign="center center" fxFlexAlign="stretch">
          <mat-card [ngStyle]="{'padding': '0px'}">
            <mat-card-content>
              <div #p5Container id="canvas-container"></div>
              <video fxHide #video id="video" width="320" height="240" autoplay class="img-thumbnail"></video>
              <canvas fxHide #snapCanvas id="snapCanvas" width="80" height="60" class="snap-thumbnail"></canvas>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- <div class="scrollable-area">
    <ng-template appAnchor></ng-template>
  </div> -->

    <!-- <div fxFlex="100%" fxLayoutAlign="center center">
      <ngx-json-view class="json-viewer" [data]="nn_data" [levelOpen]="1"></ngx-json-view>
    </div> -->

  </div>

  <div>
    <ng-template appAnchor class="scrollable-area"></ng-template>
  </div>

</div>
<fsx-fixed-drag-btn (click)="addPoseTrainDataComp()"></fsx-fixed-drag-btn>
