/* for card list */
$card-min-width: 368px;
$card-max-width: 450px;
$card-min-height: 400px;
$card-height: 400px;
$card-img-height: 250px;
$card-content-padding: 10px;

/* Canvas */
$canvas-min-width: 450px;
$canvas-max-width: 450px;
$canvas-min-height: 400px;
$canvas-max-height: 400px;
$canvas-content-padding: 10px;

/* header, section */
$header-section-padding: 20px;

/* side panel */
$side-panel-height: 64px;
