.countdown-container{
  // display: block;

  // position: fixed;
  // height: 100%;
  // width: 100%;
  // left: 0;
  // top: 0;
  z-index: -20;
  background: rgb(9, 28, 112);
  background: linear-gradient(
    130deg,
    rgb(54, 0, 105) 0%,
    rgb(104, 12, 165) 30%,
    rgb(142, 26, 165) 50%,
    rgb(175, 0, 123) 70%,
    rgb(112, 0, 66) 100%
  );
}
.big-counter {

}


